<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<rewrite>
				<rules>
					<rule name="http to https" stopProcessing="true">
						<match url="(.*)" />
						<conditions>
							<add input="{HTTPS}" pattern="^OFF$" />
						</conditions>
						<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
					</rule>
				</rules>
			</rewrite>
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule"/>
			</modules>

			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
				<remove name="WebDAV" />
			</handlers>

			<aspNetCore processPath="dotnet" arguments=".\SoowGoodWeb.HttpApi.Host.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Local" />
				</environmentVariables>
			</aspNetCore>

		</system.webServer>
	</location>
	<system.webServer>
		<directoryBrowse enabled="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />

	</system.webServer>
</configuration>
<!--ProjectGuid: E6D5BF0E-DE92-4D82-A352-EF04B37CB11C-->